{% set title = 'Главная' %}
{% extends 'templates/template.njk' %}
{% block content %}
{% include 'blocks/header.njk' %}
<p>Это типо главная страница!</p>
{% include 'blocks/footer.njk' %}
{% endblock %}