{% set title = 'Главная' %}
{% extends 'templates/template.njk' %}
{% block content %}
{% include 'blocks/header.njk' %}
<div class="wrapper">
	<div class="container">
		<h2 class="title">Заголовок второго уровня.</h2>
		<p>Какой-то абзац.</p>
	</div>
</div>
{% include 'blocks/footer.njk' %}
{% endblock %}