{% set title = 'О нас' %}
{% extends 'njk/templates/template.njk' %}
{% block content %}
	<h1>О нас</h1>
	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti, cumque quae accusantium, temporibus, soluta nostrum blanditiis beatae dolorem voluptatem, deserunt ullam consequatur eos laudantium? Nesciunt sequi officiis beatae ullam ipsum!</p>
{% endblock %}